#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background:#f8f8f8;
    border-right:1px solid #9e9fa0;
}


.mt {
    margin-top: 25px;
}


  
.nav-collapse.collapse {
    display: inline;
}


aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #9e9fa0;
    width:100%;
  }

  #main-content {
    margin-left: 210px;
    
    
}


.wrapper {
    display: inline-block;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
    word-wrap:break-word;
}

